<h1>Newspaper List</h1>
<a href="{% url 'newspaper_create' %}">Create a new Newspaper</a>
<ul>
    {% for newspaper in newspapers %}
        <li>
            <h2>{{ newspaper.title }}</h2>
            <p>{{ newspaper.content }}</p>
            <p>Published on: {{ newspaper.published_date }}</p>
            <p>Topics: {{ newspaper.topics.all|join:", " }}</p>
            <p>Publishers: {{ newspaper.publishers.all|join:", " }}</p>
            <a href="{% url 'newspaper_update' newspaper.pk %}">Edit</a>
        </li>
    {% endfor %}
</ul>
