<div class="container">
    <footer class="footer py-4">
        <div class="row">
            <div class="col-md-3">
                <h5 class="text-bold">Soft UI Design System</h5>
                <h6 class="text-muted">Social</h6>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-dribbble"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-md-2">
                <h6 class="text-bold">Company</h6>
                <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Freebies</a></li>
                    <li><a href="#">Premium Tools</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h6 class="text-bold">Resources</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Illustrations</a></li>
                    <li><a href="#">Bits & Snippets</a></li>
                    <li><a href="#">Affiliate Program</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h6 class="text-bold">Help & Support</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Knowledge Center</a></li>
                    <li><a href="#">Custom Development</a></li>
                    <li><a href="#">Sponsorships</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h6 class="text-bold">Legal</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Licenses (EULA)</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-4">
            <small class="text-muted">Soft UI Design System by © Creative Tim - Coded by AppSeed</small>
        </div>
    </footer>
</div>
