<div class="col-sm-3">
    <ul class="list-group">
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
        <li class="list-group-item">
            <span style="vertical-align:middle;">User:</span> <a href="{% url 'admin_dashboard' %}" class="btn btn-link">{{ user.username }}</a>
        </li>
        <!-- Другие ссылки в сайдбаре -->
        <li class="list-group-item">
            <a href="{% url 'home' %}" class="btn btn-link">Home</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'redactor_list' %}" class="btn btn-link">Редакторы</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'topic_list' %}" class="btn btn-link">Статьи/Темы</a>
        </li>
    </ul>
</div>
