{% extends 'base.html' %}

{% block title %}Home page{% endblock %}

{% block content %}
    <h1>Welcome to Newspaper Agency</h1>
    <h2>Information</h2>
    <ul>
        <li>Number of newspapers: {{ newspaper_count }}</li>
        <li>Number of editors: {{ redactor_count }}</li>
        <li>Number of articles/topics: {{ topic_count }}</li>
    </ul>
    <p><a href="{% url 'newspaper_list' %}">View Newspapers</a></p>
    <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
    <ul>
        {% for newspaper in newspapers %}
            <li>{{ newspaper.title }}</li>
        {% empty %}
            <li>No newspapers found.</li>
        {% endfor %}
    </ul>
{% endblock %}
