{% extends 'base.html' %}

{% block title %}Список редакторов{% endblock %}

{% block content %}
    <h1>Список редакторов</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Email</th>
                <th>Дата найма</th>
            </tr>
        </thead>
        <tbody>
            {% for redactor in redactors %}
            <tr>
                <td>{{ redactor.first_name }}</td>
                <td>{{ redactor.last_name }}</td>
                <td>{{ redactor.email }}</td>
                <td>{{ redactor.hire_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
