.btn-success {
    background-color: #4CAF50; /* Изменение цвета фона */
    border-color: #6a4caf;
}

.btn-secondary:hover {
    background-color: rgb(227, 15, 15); /* Изменение цвета фона при наведении */
}